<html>
	<head>
		<title>VUE</title>
		<script src="../src/vue.js"></script>
		<link rel="stylesheet" href="editor.css"/>
	</head>
	<body>
		<div id="sidebar">
			<div id="contextside">
				<div id="admin_bar">
					<button v-for="tab in tabs" v-bind:key="tab" v-bind:title="tab" v-bind:class="['abar_a', { 'active': currentTab === tab }]" v-on:click="currentTab = tab"></button>
				</div>
				<div class="complex_menu_bar">
					<div class="mbar"></div>
					<div class="mbar"></div>
					<div class="mbar"></div>
					<div class="mbar"></div>
					<div class="mbar"></div>
					<div class="mbar"></div>
				</div>
				<keep-alive><depo :selectedtabx="selectedtabx" :subtitle="subtitle" :groups="groups" v-bind:is="currentTabComponent"></depo></keep-alive>
			</div>
			<div id="grid">
					<div id="grid_content">
						<div id="grid_title">
							<h2>{{title}}</h2>
						</div>
						<div v-if="seen" id="grid_main_tabs">
							<ul>
								<li class="grid_tab /*active*/" v-for="title in titles" v-on:click="clicked(title)" v-bind:class="{active: title.isActive}">{{title.title}}</li>
							</ul>
						</div>
						<div v-if="seen" id="grid_tabs">
							<ul>
								<li class="grid_tab /*active*/" v-for="title in titles" v-on:click="clicked(title)" v-bind:class="{active: title.isActive}">{{title.title}}</li>
							</ul>
						</div>
						<div id="grid_content_area">
							<div id="grid_content_area_builder">
								<div v-if="false" /*seen*/ class="builder-blank-page">
									<h3 class="title">To get started, add a Container, or add a pre-built page.</h3>
									<h4 class="subtitle">The building process always starts with a container, then columns, then elements.</h4>
									<a href="#" class="button" v-on:click="openContainer">Container</a>
									<a href="#" class="button" v-on:click="openPreBuiltPage">Pre-Built Page</a>
								</div>
							</div>
							<div v-if="seen" id="grid_content_area_library">
								<div v-if="header.isActive" v-for="header in headers" id="element_style_context">
									<div class="builder-lays-header-info">
										<h2>{{header.title}}</h2>
										<span class="builder-lay-info" v-html="header.info"></span>
									</div>
								</div>
							</div>
							<!--div id="grid-content-modal_insert" v-if="seen" v-html="content">{{content}}</div-->
							<div v-if="seen" v-html="content" id="grid-content-modal_insert" class="grid-content-modal_insert">
								<h3>{{title}}</h3>
								{{content}}
							</div>
							<div v-if="seen" id="elements_pseudoslot" class="grid-content-modal_insert">
								<input v-model="query">
								<ul>
									<li v-on:click="click(element.label, element.title)" v-for="element in computedList"><h3>{{element.title}}</h3></li>
								</ul>
							</div>
							<div v-if="seen" class="grid_content_area_grider">
								<child-component :childrens="childrens" :shortcode="childrens.shortcode" :tag="childrens.shortcode"></child-component>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div id="layout">
			<div class="layout-container">{{shortcode}}<childrens-component :key="true" :childrens="childrens" :shortcode="childrens.shortcode" :class="childrens.shortcode" v-bind:class="shortcode"></childrens-component></div>
		</div>
<div class="templ">
	<ul class="builder-col-lay">
		<h1>TEST</h1>
		<li onclick="addC(['1_1'])"><div class="column-1_1">1/1</div></li>
		<li onclick="addC(['1_2','1_2'])"><div class="column-1_2">1/2</div><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['1_3','1_3','1_3'])"><div class="column-1_3">1/3</div><div class="column-1_3">1/3</div><div class="column-1_3">1/3</div></li>
		<li onclick="addC(['1_4','1_4','1_4','1_4'])"><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['2_3','1_3'])"><div class="column-2_3">2/3</div><div class="column-1_3">1/3</div></li>
		<li onclick="addC(['1_3','2_3'])"><div class="column-1_3">1/3</div><div class="column-2_3">2/3</div></li>
		<li onclick="addC(['1_4','3_4'])"><div class="column-1_4">1/4</div><div class="column-3_4">3/4</div></li>
		<li onclick="addC(['3_4','1_4'])"><div class="column-3_4">3/4</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_2','1_4','1_4'])"><div class="column-1_2">1/2</div><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_4','1_4','1_2'])"><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['1_4','1_2','1_4'])"><div class="column-1_4">1/4</div><div class="column-1_2">1/2</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_5','4_5'])"><div class="column-1_5">1/5</div><div class="column-4_5">4/5</div></li>
		<li onclick="addC(['4_5','1_5'])"><div class="column-4_5">4/5</div><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['3_5','2_5'])"><div class="column-3_5">3/5</div><div class="column-2_5">2/5</div></li>
		<li onclick="addC(['2_5','3_5'])"><div class="column-2_5">2/5</div><div class="column-3_5">3/5</div></li>
		<li onclick="addC(['1_5','1_5','3_5'])"><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-3_5">3/5</div></li>
		<li onclick="addC(['1_5','3_5','1_5'])"><div class="column-1_5">1/5</div><div class="column-3_5">3/5</div><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['1_2','1_6','1_6','1_6'])"><div class="column-1_2">1/2</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div></li>
		<li onclick="addC(['1_6','1_6','1_6','1_2'])"><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['1_6','2_3','1_6'])"><div class="column-1_6">1/6</div><div class="column-2_3">2/3</div><div class="column-1_6">1/6</div></li>
		<li onclick="addC(['1_5','1_5','1_5','1_5','1_5'])"><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['1_6','1_6','1_6','1_6','1_6','1_6'])"><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div></li>
		<li onclick="addC(['5_6'])"><div class="column-5_6">5/6</div></li>
		<li onclick="addC(['4_5'])"><div class="column-4_5">4/5</div></li>
		<li onclick="addC(['3_4'])"><div class="column-3_4">3/4</div></li>
		<li onclick="addC(['2_3'])"><div class="column-2_3">2/3</div></li>
		<li onclick="addC(['3_5'])"><div class="column-3_5">3/5</div></li>
		<li onclick="addC(['1_2'])"><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['2_5'])"><div class="column-2_5">2/5</div></li>
		<li onclick="addC(['1_3'])"><div class="column-1_3">1/3</div></li>
		<li onclick="addC(['1_4'])"><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_5'])"><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['1_6'])"><div class="column-1_6">1/6</div></li>
	</ul>
</div>

<!--THIS DIV IS USING AS TEMPLATE FOR gridState.'child-component'-->
<div class="templ">
	<div v-if="shortcode == `fusion_builder_container`" class="builder-container">
		<div class="builder-container-header">
			<input type="text" class="container-name" value="Container">
			<div class="builder-column-controls">
				<ul>
					<li v-on:click="editElement(children)">E</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
		</div>
		<!--THIS TEMPLATE INSIDE CONTAINER IS FOR ROWS-->
		<templ v-for="(children, index) in childrens" :childrens="children.childrens" :key="children.id" :class="{active: children.isActive}" :shortcode="children.shortcode" v-on:click.native.stop="clickedE(children)"></templ>
		<div class="builder-container-addctrls">
			<button v-on:click="openModalAddContnr(ind)" class="add-container">+ Container</button>
			<button v-on:click="openModalAddCols(ind)" class="add-col">+ Columns</button>
		</div>
	</div>
	<div v-else-if="shortcode == `fusion_builder_row`" class="builder-container-content">
		<!--THIS TEMPLATE INSIDE ROW IS FOR COLUMNS-->
		<templ v-on:click.native.stop="clickedE(children)" v-for="children in childrens" :children="children" :childrens="children.childrens" :key="children.id" :class="[`column-`+children.params.groups[`General`].type, {active: children.isActive}]" :shortcode="children.shortcode"></templ>
	</div>
	<div v-else-if="shortcode == `fusion_builder_column`" class="builder-column">
		<div class="builder-column-controls">
			<ul>
				<li>R</li>
				<li v-on:click="editElement(children)">E</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>
		<!--THIS TEMPLATE INSIDE COLUMN IS FOR ELEMENTS-->
		<!--templ v-on:click.native.stop="clickedE(children)" v-for="children in childrens" :children="children" :childrens="children.childrens" :key="children.id" :class="{active: children.isActive}" :shortcode="children.shortcode" :title="children.name" :tag="children.shortcode"></templ-->
		<templ v-on:click.native.stop="clickedE(children)" v-for="children in childrens" :children="children" :key="children.id" :class="{active: children.isActive}" :shortcode="children.shortcode" :title="children.name" :tag="children.shortcode"></templ>
		<button v-on:click="openModalAddElmnt()" class="add-el">+ Element</button>
	</div>
	<!--maybe here need to strict checking by including in array of all elements shortcodes OR SOMETHING MORE EFFICIENT-->
	<div v-else-if="isEl(shortcode)" class="builder-column-element">
		<div class="el-ctrls">
			<div class="builder-column-controls">
				<ul>
					<li v-on:click="editElement(children)">E</li>
					<li v-on:click="cloneElement()">0</li>
					<li v-on:click="saveElement()">0</li>
					<li v-on:click="deleteElement()">0</li>
				</ul>
			</div>
		</div>
		<div class="el-preview">
			<h4>{{title}}</h4>
		</div>
	</div>
	<div v-else class="builder-common-container">
		<templ v-on:click.native.stop="[clickedE(children), click(index)]" v-for="(children, index) in childrens" :children="children" :childrens="children.childrens" :key="children.id" :class="{active: children.isActive}" :ind="index" :shortcode="children.shortcode"></templ>
	</div>
</div>

<!--THIS DIV IS USING AS TEMPLATE FOR tab_cust component inside contextWindow (SIDEBAR MENU, for start point where it inserts look at <keep-alive><depo ... )-->
<div class="templ_three">
	<div class="sidebar_content">
      <div class="sidebar_title">
      	<h1>Sidebar Title</h1>
      	<h3>{{subtitle}}</h3>
      	<!--{{selectedtabx}}-->
      </div>
      <div class="sidebar_tabs">
      	<ul>
	        <li
	          v-for="(group, index) in groups"
	          v-bind:class="['side_tab', { 'active': index === selectedtabx }]"
	          v-on:click="selectedtabx = index"
	        >
	          {{index}}
	        </li>
      	</ul>
      </div>
      <div class="content_area">
        <div 
          v-if="selectedtabx"
          class="dynamic-component-demo-post"
        >	
        	<!--
          <h3>{{ selectedTab.title }}</h3>
          <div v-html="selectedTab.content"></div>
        	-->
        	<ul>
        		<li v-for="(option, index) in groups[selectedtabx]">
        			<h3>{{option.heading}}</h3>
        			<p class="description">{{option.description}}</p>
        			<div>{{option}}</div>
        		</li>
        	</ul>
        </div>
        <strong v-else>
          Click on a blog title to the left to view it.
        </strong>
      </div>
    </div>
</div>

		<script src="fusionelements.js"></script>
		<script src="layobj.js"></script>
		<script src="editor.js"></script>
	</body>
</html>