<html>
	<head>
		<title>VUE</title>
		<script src="../src/vue.js"></script>
		<link rel="stylesheet" href="editor.css"/>
	</head>
	<body>
		<div id="sidebar">
			<div id="admin_bar">
				<div class="abar_a"></div>				
				<div class="abar_b"></div>				
				<div v-on:click="openFusionOptions" class="abar_c"></div>			
			</div>
			<div v-if="seen" id="complex_menu_bar">
				<div class="mbar"></div>
				<div class="mbar"></div>
				<div class="mbar"></div>
				<div class="mbar"></div>
				<div class="mbar"></div>
				<div class="mbar"></div>
			</div>
			<div id="sidebar_content">
				<div id="sidebar_title">
					<h1>{{title}}</h1>
				</div>
				<div v-if="seen" id="sidebar_tabs">
					<div class="side_tab active" id="sidebar_general">General</div>
					<div class="side_tab" id="sidebar_background">Background</div>
					<div class="side_tab" id="sidebar_Design">Design</div>
				</div>
				<div id="content_area">
					<div v-if="active" id="element_style_context">
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>Color Picker</h3>
							<span>Some text of option at number 2</span>
							<div id="colorpicker">
								<div v-for="color in colors" v-on:click="clicked(color)" v-bind:style="color" class="cpick"></div>
							</div>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
						<div class="side_content_option">
							<h3>One Option</h3>
							<span>Some text of first option</span>
						</div>
					</div>
				</div>
			</div>
			<div id="grid">
				<div id="grid_content">
					<div id="grid_title">
						<h2>{{title}}</h2>
					</div>
					<div v-if="seen" id="grid_main_tabs">
						<ul>
							<li class="grid_tab /*active*/" v-for="title in titles" v-on:click="clicked(title)" v-bind:class="{active: title.isActive}">{{title.title}}</li>
						</ul>
					</div>
					<div v-if="seen" id="grid_tabs">
						<ul>
							<li class="grid_tab /*active*/" v-for="title in titles" v-on:click="clicked(title)" v-bind:class="{active: title.isActive}">{{title.title}}</li>
						</ul>
					</div>
					<div id="grid_content_area">
						<div id="grid_content_area_builder">
							<div v-if="false" /*seen*/ class="builder-blank-page">
								<h3 class="title">To get started, add a Container, or add a pre-built page.</h3>
								<h4 class="subtitle">The building process always starts with a container, then columns, then elements.</h4>
								<a href="#" class="button" v-on:click="openContainer">Container</a>
								<a href="#" class="button" v-on:click="openPreBuiltPage">Pre-Built Page</a>
							</div>
						</div>
						<div v-if="seen" id="grid_content_area_library">
							<div v-if="header.isActive" v-for="header in headers" id="element_style_context">
								<div class="builder-lays-header-info">
									<h2>{{header.title}}</h2>
									<span class="builder-lay-info" v-html="header.info"></span>
								</div>
							</div>
						</div>
						<!--div id="grid-content-modal_insert" v-if="seen" v-html="content">{{content}}</div-->
						<div v-if="seen" v-html="content" id="grid-content-modal_insert">
							<h3>{{title}}</h3>
							{{content}}
						</div>
						<div v-if="seen" class="grid_content_area_grider">
							<child-component :childrens="childrens" :ltype="childrens.ltype" :tag="childrens.tag"></child-component>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div id="layout">
			<div class="layout-container">{{ltype}}<childrens-component :key="true" :childrens="childrens" :ltype="childrens.ltype" :class="childrens.ltype" v-bind:class="ltype"></childrens-component></div>
		</div>
<div class="templ">
	<ul class="builder-col-lay">
		<h1>TEST</h1>
		<li onclick="addC(['1_1'])"><div class="column-1_1">1/1</div></li>
		<li onclick="addC(['1_2','1_2'])"><div class="column-1_2">1/2</div><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['1_3','1_3','1_3'])"><div class="column-1_3">1/3</div><div class="column-1_3">1/3</div><div class="column-1_3">1/3</div></li>
		<li onclick="addC(['1_4','1_4','1_4','1_4'])"><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['2_3','1_3'])"><div class="column-2_3">2/3</div><div class="column-1_3">1/3</div></li>
		<li onclick="addC(['1_3','2_3'])"><div class="column-1_3">1/3</div><div class="column-2_3">2/3</div></li>
		<li onclick="addC(['1_4','3_4'])"><div class="column-1_4">1/4</div><div class="column-3_4">3/4</div></li>
		<li onclick="addC(['3_4','1_4'])"><div class="column-3_4">3/4</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_2','1_4','1_4'])"><div class="column-1_2">1/2</div><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_4','1_4','1_2'])"><div class="column-1_4">1/4</div><div class="column-1_4">1/4</div><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['1_4','1_2','1_4'])"><div class="column-1_4">1/4</div><div class="column-1_2">1/2</div><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_5','4_5'])"><div class="column-1_5">1/5</div><div class="column-4_5">4/5</div></li>
		<li onclick="addC(['4_5','1_5'])"><div class="column-4_5">4/5</div><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['3_5','2_5'])"><div class="column-3_5">3/5</div><div class="column-2_5">2/5</div></li>
		<li onclick="addC(['2_5','3_5'])"><div class="column-2_5">2/5</div><div class="column-3_5">3/5</div></li>
		<li onclick="addC(['1_5','1_5','3_5'])"><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-3_5">3/5</div></li>
		<li onclick="addC(['1_5','3_5','1_5'])"><div class="column-1_5">1/5</div><div class="column-3_5">3/5</div><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['1_2','1_6','1_6','1_6'])"><div class="column-1_2">1/2</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div></li>
		<li onclick="addC(['1_6','1_6','1_6','1_2'])"><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['1_6','2_3','1_6'])"><div class="column-1_6">1/6</div><div class="column-2_3">2/3</div><div class="column-1_6">1/6</div></li>
		<li onclick="addC(['1_5','1_5','1_5','1_5','1_5'])"><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['1_6','1_6','1_6','1_6','1_6','1_6'])"><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div><div class="column-1_6">1/6</div></li>
		<li onclick="addC(['5_6'])"><div class="column-5_6">5/6</div></li>
		<li onclick="addC(['4_5'])"><div class="column-4_5">4/5</div></li>
		<li onclick="addC(['3_4'])"><div class="column-3_4">3/4</div></li>
		<li onclick="addC(['2_3'])"><div class="column-2_3">2/3</div></li>
		<li onclick="addC(['3_5'])"><div class="column-3_5">3/5</div></li>
		<li onclick="addC(['1_2'])"><div class="column-1_2">1/2</div></li>
		<li onclick="addC(['2_5'])"><div class="column-2_5">2/5</div></li>
		<li onclick="addC(['1_3'])"><div class="column-1_3">1/3</div></li>
		<li onclick="addC(['1_4'])"><div class="column-1_4">1/4</div></li>
		<li onclick="addC(['1_5'])"><div class="column-1_5">1/5</div></li>
		<li onclick="addC(['1_6'])"><div class="column-1_6">1/6</div></li>
	</ul>
</div>
<div class="templ">
<div v-if="ltype == `container`" class="builder-container">
	<div class="builder-container-header">
		<input type="text" class="container-name" value="Container">
		<div class="builder-column-controls">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>
	</div>
	<templ v-for="(children, index) in childrens" v-bind:childrens="children.childrens" v-bind:key="children.id" v-bind:class="{active: children.isActive}" :ltype="children.ltype" v-on:click.native.stop="clickedE(children)"></templ>
	<div class="builder-container-addctrls">
		<button v-on:click="openModalAddContnr(ind)" class="add-container">+ Container</button>
		<button v-on:click="openModalAddCols(ind)" class="add-col">+ Columns</button>
	</div>
</div>
<div v-else-if="ltype == `row`" class="builder-container-content">
	<templ v-on:click.native.stop="clickedE(children)" v-for="children in childrens" v-bind:childrens="children.childrens" v-bind:key="children.id" v-bind:class="[`column-`+children.type, {active: children.isActive}]" :ltype="children.ltype"></templ>
</div>
<div v-else-if="ltype == `col`" class="builder-column">
	<div class="builder-column-controls">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</div>
	<templ v-on:click.native.stop="clickedE(children)" v-for="children in childrens" v-bind:childrens="children.childrens" v-bind:key="children.id" v-bind:class="{active: children.isActive}" :ltype="children.ltype" :tag="children.tag"></templ>
	<button v-on:click="openModalAddElmnt()" class="add-el">+ Element</button>
</div>
<div v-else-if="ltype == `el`" class="builder-column-element">
	<div class="el-ctrls">
		<div class="builder-column-controls">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>
	</div>
	<div class="el-preview">
		<span>{{tag}}</span>
		<!--templ v-on:click.native.stop="clickedE(children)" v-for="children in childrens" v-bind:childrens="children.childrens" v-bind:key="children.id" v-bind:class="{active: children.isActive}" :ltype="children.ltype"></templ-->
	</div>
</div>
<div v-else class="builder-common-container">
	<templ v-on:click.native.stop="[clickedE(children), click(index)]" v-for="(children, index) in childrens" v-bind:childrens="children.childrens" v-bind:key="children.id" v-bind:class="{active: children.isActive}" :ind="index" :ltype="children.ltype"></templ>
</div>
</div>
		<script src="editor.js"></script>
	</body>
</html>