<!DOCTYPE html>
<html>
<head>
	<script src="http://127.0.0.1/VUE%20Learning/src/vue.js" type="text/javascript"></script>
	<title></title>
	<style type="text/css">
		#nest {
  padding: 50px;
  padding-bottom: 200px;
}
.block {
  background-color: skyblue;
  margin: 20px;
  width: 100px;
  height: 100px;
}
	</style>

</head>
<body>
<div id="nest">
  <h2>Fill input for blocks appearance or disappearance</h2>
  <div id="element_inputs" style="width: 200px">
  <input v-for="(net, index) in elements" v-model="elements[index].value" />
    </div>​
    <div id="elements_render">
    <div v-for="(box) in selectedBoxes" :style="{ 'backgroundColor':  box.color}" class="block">
      {{box.value}}
    </div>
  </div>
  <h2>Write colors here (example: yellow, pink, orange)</h2>
  <input id="colors" type="" name="" v-model="colorInput" />
</div>
	<script type="text/javascript">
var lay = new Vue({
  el: '#nest',
  props: ["recoloring"],
  data: {
    elements: {
      'box1': { value: 'first' },
      'box2': { value: '' },
      'box3': { value: '' },
      'box4': { value: '' }
    },
    elements_list: ['box1', 'box2', 'box3', 'box4'],
    colorInput: "",
  },
  computed: {
    selectedBoxes: function(){

      /*return Object.values(this.elements)
        .filter(el => el.value)
        .map((el, ndx) => ({value: el.value, color: this.colors[ndx]}))*/

		var els = this.elements
		var values = Object.keys(this.elements).map( function(e){ return els[e] } )

		filteredvals = values.filter(function(el){ return el.value }) //filter for with values
		//.map((el, ndx) => ({value: el.value, color: this.colors[ndx]}))

		color_values = []
		for(i=0; i<filteredvals.length; i++){
			color_values.push(
				{
					value: filteredvals[i].value,
					color: this.colors[i]
				}
			)
		}

		return color_values

    },
    colors: function() {
    	return this.colorInput.split(',')
	}
  },
});
	</script>
</body>
</html>