<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="../.././src/vue.js"></script>
</head>
<body>
  <div id="nest">

    <h3>Fill input for blocks appearance or disappearance</h3>
    <div id="element_inputs" style="width: 200px">
      <input v-for="net, index in elements" v-model="elements[index].value" />
    </div>

    <div id="elements_render">
      <div v-for="bl, index in elements_list" v-if="elements[bl].value !== ''" :style="{ 'backgroundColor': colors_list[index] }" class="block">{{index}}</div>
    </div>

    <h3>Write colors here (example: yellow, pink, orange)</h3>
    <input id="colors" type="" name="" v-model="question" />
  </div>

    <script type="text/javascript">
    var lay = new Vue({
      el: '#nest',
      props: ["question"],
      data: {
        elements: {
          'box1': { value: 'first' },
          'box2': { value: '' },
          'box3': { value: '' },
          'box4': { value: '' }
        },
        elements_list: ['box1', 'box2', 'box3', 'box4'],
        colors_list: []
      },
      watch: {
        question: function (arg) {
          this.colors_list = arg.split(',')
        }
      }
    });
  </script>

  <style type="text/css">
    .block {
      background-color: skyblue;
      margin: 20px;
      width: 100px;
      height: 100px;
    }
  </style>
</body>
</html>