<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="../.././src/vue.js"></script>
</head>
<body>
  <div id="nest">

    <h3>Fill input for blocks appearance or disappearance</h3>
    <div id="element_inputs" style="width: 200px">
      <input v-for="net, index in elements" v-on:input="rebuildlist" v-model="elements[index].value" /><!-- сменить модель и поменять внутри компонента на comput? чтобы фильтр массив из кот создается отдельн для Рендера -->
    </div>

    <div id="elements_render"><!--WHERE...  -->
      <div v-for="bl, index in torender" :style="{ 'backgroundColor': colors_list[index] }" class="block">{{index}}</div>
    </div>

    <h3>Write colors here (example: yellow, pink, orange)</h3>
    <input id="colors" type="" name="" v-on:load="alerto" v-model="question" />
  </div>

    <script type="text/javascript">
    var lay = new Vue({
      el: '#nest',
      props: ["question"],
      data: {
        elements: {
          'facebook': { value: 'first' },
          'privateservers': { value: '' },
          'reddit': { value: 'gg' },
          'quora': { value: '' }
        },
        colors_list: ['red', 'pink'],
        torender: []
      },
      mounted: function (test) {
        this.rebuildlist();
        this.alerto();
      },
      watch: {
        question: function (arg) {
          //set string of colors from model at first
          //colors_list.join(', ')

          this.colors_list = arg.split(',');
          console.log(arg)
        }
      },
      /*computed: {
        test: function(){
          console.log(colors_list.join(', '));
        }
      }*/
      methods: {
        alerto: function(arg){
          console.log(this)
        },
        rebuildlist: function(){
          //here we (re-)build actual array from "elements" array by filtering blank values
          var elkeys = Object.keys(this.elements);
          //console.log(keys(this.elements))
          this.torender = [];
          for(i = 0; i < elkeys.length; i++){
            var boxname = elkeys[i];

            if(this.elements[boxname].value !== ''){
              this.torender.push(boxname)
            }
          }
        }
      }
    });
  </script>

  <style type="text/css">
    .block {
      background-color: skyblue;
      margin: 20px;
      width: 100px;
      height: 100px;
    }
  </style>
</body>
</html>